<odoo>
    <data>
        <!-- Top menu item -->
        <menuitem name="Gestion de Empresa" id="empresa.menu_root"/>
        <!-- menu categories -->
        <menuitem name="Gestion" id="empresa.menu_1" parent="empresa.menu_root"/>
        <!-- actions -->
        <menuitem name="Proyectos" id="empresa.menu_1_list" parent="empresa.menu_1"
                  action="empresa_proyecto_action"/>
        <menuitem name="Trabajos" id="empresa.menu_2_list" parent="empresa.menu_1"
                  action="empresa_trabajo_action"/>
    </data>
</odoo>